<section class="contactus">
    <div class="contactus-container">
        <h2 class="contactus-title">Contact Us</h2>
        <div class="contactus-content">
            <div class="contactus-block">
                <p class="contactus-text">
                    Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.
                </p>
                <form class="contactus-check" action="#" method="post">
                    <div class="contactus-field">
                       <input type="text" placeholder="Name" id="name" name="name">
                    </div>
                    <div class="contactus-field">
                        <input type="email" placeholder="Email" id="email" name="email">
                     </div>
                     <div class="contactus-field">
                        <input type="number" placeholder="+380" id="+380" name="+380">
                     </div>
                     <div class="contactus-field">
                        <textarea class="contactus-texterea" placeholder="Comment" type="submit"></textarea>
                     </div>
                     <button class="button-contactus" type="submit">Send</button>
                </form>
            </div>
            <div class="img-contactus">
                <picture>
                    <source width="530" srcset="./img/contact/contact-desc@1x.jpg, ./img/contact/contact-desc@2x.jpg 2x" media="(min-width: 1158px)"/>
                    <source width="704" srcset="./img/contact/contact-tab@1x.jpg, ./img/contact/contact-tab@2x.png 2x" media="(min-width: 768px)"/>
                    <source width="335" srcset="./img/contact/contact-mob@1x.jpg, ./img/contact/contact-mob@2x.jpg 2x"  media="(min-width: 320px)"/>
                    <img class="contactus-img" src="./img/contact/contact-mob@1x.jpg" srcset="./img/contact/contact-mob@2x.jpg 2x" alt="watch" />
                </picture>
            </div>
        </div>
    </div>
</section>