<header class="page-header">
  <div class="container">
    <nav class="page-nav">
      <a class="logo" href="./index.html">watchcharm</a>
      <button class="burger-menu" type="button">
        <svg class="burger-icon" width="34" height="34">
          <use href="../img/icon.svg#icon-menu"></use>
        </svg>
      </button>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link current" href="">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">About us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact us</a>
        </li>
      </ul>
    </nav>
    <ul class="social-list">
      <li class="social-item">
        <a class="social-link" href="https://www.facebook.com/goITclub/">
          <svg class="social-icon" width="20" height="20">
            <use href="../img/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href=" https://www.instagram.com/goitclub/">
          <svg class="social-icon" width="20" height="20">
            <use href="../img/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href="https://www.youtube.com/c/GoIT ">
          <svg class="social-icon" width="20" height="20">
            <use href="../img/icon.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
