<section class="hero-section" id="hero">
    <div class="container hero">
        <h1 class="hero-title">
            Welcome to our <span class="hero-title-span"> collection </span> of premium watches
        </h1>
    <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
    </p>
    <div class="hero-scroll">
        <div class="hero-people">
        <img class="hero-people-img-1"
        src="./img/hero/victoria-mob@1x.png"
        alt="Amanda Lowery"
        width="44"
        height="44"
        />
        <img class="hero-people-img-2"
        src="./img/hero/john-mob@1x.png"
        alt="Ethan Valdez"
        width="44"
        height="44"
        />
        <img class="hero-people-img-3"
        src="./img/hero/nastia-mob@1x.png"
        alt="Fleur Cook"
        width="44"
        height="44"
        />
    </div>
    <div class="hero-link">
        <a class="scroll-link" href="#footer">Scroll down</a>
    </div>
    </div>
    <img class="hero-img"
    src="./img/hero/hero-mob@1x.png"
    alt="watches"
    width="335"
    height="336"
    />
    </div>
    </section>