<section class="reviews-section">
  <div class="reviews">
    <h2 class="reviews-header">Reviews</h2>
    <ul class="review-list">
      <li class="review-item">
        <div class="reviews-photo">
          <img
            class="time-img"
            src="./img/reviews/reviews-john-desc@1x.png"
            alt="john-wax"
            width="56"
            height="56"
          />
        </div>
        <h3 class="reviews-title">John Wax</h3>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="review-item">
        <div class="reviews-photo">
          <img
            class="time-img"
            src="./img/reviews/reviews-victoria-desc@1x.png"
            alt="victoria-romashenko"
            width="56"
            height="56"
          />
        </div>
        <h3 class="reviews-title">Victoria Romashenko</h3>
        <p class="reviews-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="review-item">
        <div class="reviews-photo">
          <img
            class="time-img"
            src="./img/reviews/reviews-nastia-desc@1x.png"
            alt="anastasia-trachuk"
            width="56"
            height="56"
          />
        </div>
        <h3 class="reviews-title">Anastasia Trachuk</h3>
        <p class="reviews-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
