<section id="sale" class="sale-section">
  <div class="container">
    <h2 class="sale-title">Sale</h2>

    <div class="foto-container">
      <ul class="sale-list">
        <li class="sale-item">
          <a href="#sale">
            <div class="sale-img-block">
              <picture class="sale-picture">
                <source
                  media="(min-width: 1158px)"
                  srcset="
                    ./img/sale/img-1-desc@1x.png 1x,
                    ./img/sale/img-1-desc@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale/img-1-tab@1x.png 1x,
                    ./img/sale/img-1-tab@2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale/img-1-mob@1x.png 1x,
                    ./img/sale/img-1-mob@2x.png 2x
                  "
                />
                <img
                  class="sale-img"
                  src="./img/sale/img-1-mob@1x.png"
                  alt="watch in sale 1"
                />
              </picture>
            </div>
          </a>
        </li>
        <li class="sale-item">
          <a href="#sale">
            <div class="sale-img-block">
              <picture>
                <source
                  media="(min-width: 1158px)"
                  srcset="
                    ./img/sale/img-2-desc@1x.png 1x,
                    ./img/sale/img-2-desc@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale/img-2-tab@1x.png 1x,
                    ./img/sale/img-2-tab@2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale/img-2-mob@1x.png 1x,
                    ./img/sale/img-2-mob@2x.png 2x
                  "
                />
                <img
                  class="sale-img"
                  src="./img/sale/img-2-mob@1x.png"
                  alt="watch in sale 2"
                />
              </picture>
            </div>
          </a>
        </li>
        <li class="sale-item">
          <a href="#sale">
            <div class="sale-img-block">
              <picture>
                <source
                  media="(min-width: 1158px)"
                  srcset="
                    ./img/sale/img-3-desc@1x.png 1x,
                    ./img/sale/img-3-desc@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale/img-3-tab@1x.png 1x,
                    ./img/sale/img-3-tab@2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale/img-3-mob@1x.png 1x,
                    ./img/sale/img-3-mob@2x.png 2x
                  "
                />
                <img
                  class="sale-img"
                  src="./img/sale/img-3-mob@1x.png"
                  alt="watch in sale 1"
                />
              </picture>
            </div>
          </a>
        </li>
        <li class="sale-item">
          <a href="#sale">
            <div class="sale-img-block">
              <picture>
                <source
                  media="(min-width: 1158px)"
                  srcset="
                    ./img/sale/img-4-desc@1x.png 1x,
                    ./img/sale/img-4-desc@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/sale/img-4-tab@1x.png 1x,
                    ./img/sale/img-4-tab@2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/sale/img-4-mob@1x.png 1x,
                    ./img/sale/img-4-mob@2x.png 2x
                  "
                />
                <img
                  class="sale-img"
                  src="./img/sale/img-4-mob@1x.png"
                  alt="watch in sale 1"
                  width="52"
                />
              </picture>
            </div>
          </a>
        </li>
      </ul>
      <div class="sale-main-img-block">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ./img/sale/img-gross-desc@1x.png 1x,
              ./img/sale/img-gross-desc@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/sale/img-gross-tab@1x.png 1x,
              ./img/sale/img-gross-tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/sale/img-gross-mob@1x.png 1x,
              ./img/sale/img-gross-mob@2x.png 2x
            "
          />
          <img
            class="sale-main-img"
            src="./img/sale/img-gross-mob@1x.png"
            alt="Main Watch in sale"
          />
        </picture>
      </div>
    </div>
    <div class="sale-info-block">
      <div class="sale-info">
        <div class="sale-info-section">
          <h3 class="sale-info-title">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="sale-info-text">Product tag: 706587</p>
        </div>
        <ul class="sale-info-price">
          <li class="sale-info-price-block">
            <p class="sale-info-price">€1500</p>
          </li>
          <li class="sale-info-old-price-block">
            <p class="sale-info-old-price">€3000</p>
          </li>
        </ul>
      </div>
      <div class="sale-info-description">
        <p class="sale-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
      </div>
      <ul class="sale-features">
        <li class="sale-features-item">
          <p class="features-text">Fused carbon fiber</p>
        </li>
        <li class="sale-features-item">
          <p class="features-text">Grade-5 Titanuim</p>
        </li>
        <li class="sale-features-item">
          <p class="features-text">Athlete</p>
        </li>
        <li class="sale-features-item">
          <p class="features-text">Golfer</p>
        </li>
        <li class="sale-features-item">
          <p class="features-text">Commander</p>
        </li>
        <li class="sale-features-item">
          <p class="features-text">Adventurer</p>
        </li>
      </ul>
    </div>
  </div>
</section>
