<section id="sale" class="section">
  <div class="container">
    <h2 class="sale-title">sale</h2>
    <ul class="sale-list">
      <li class="sale-item">
         <div class="sale-img">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/sale/img-1-desc@1x.png 1x,
                ../img/sale/img-1-desc@1x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/sale/img-1-tab@1x.png 1x,
                ../img/sale/img-1-tab@1x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/sale/img-1-mob@1x.png 1x,
                ../img/sale/img-1-mob@1x.png 2x
              "
            />
            <img
              class="sale-img"
              src="../img/sale/img-1-mob@1x.png"
              alt="watch in sale 1"
              width="52"
              height="54"
            />
          </picture>
        </div>
      </li>
      <li class="sale-item">
        <div class="sale-img">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/sale/img-2-desc@1x.png 1x,
                ../img/sale/img-2-desc@1x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/sale/img-2-tab@1x.png 1x,
                ../img/sale/img-2-tab@1x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/sale/img-2-mob@1x.png 1x,
                ../img/sale/img-2-mob@1x.png 2x
              "
            />
            <img
              class="sale-img"
              src="../img/sale/img-2-mob@1x.png"
              alt="watch in sale 2"
              width="52"
              height="54"
            />
          </picture>
        </div>
      </li>
      <li class="sale-item">
        <div class="sale-img">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/sale/img-3-desc@1x.png 1x,
                ../img/sale/img-3-desc@1x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/sale/img-3-tab@1x.png 1x,
                ../img/sale/img-3-tab@1x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/sale/img-3-mob@1x.png 1x,
                ../img/sale/img-3-mob@1x.png 2x
              "
            />
            <img
              class="sale-img"
              src="../img/sale/img-3-mob@1x.png"
              alt="watch in sale 1"
              width="52"
              height="54"
            />
          </picture>
        </div>
      </li>
      <li class="sale-item">
        <div class="sale-img">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/sale/img-4-desc@1x.png 1x,
                ../img/sale/img-4-desc@1x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/sale/img-4-tab@1x.png 1x,
                ../img/sale/img-4-tab@1x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/sale/img-4-mob@1x.png 1x,
                ../img/sale/img-4-mob@1x.png 2x
              "
            />
            <img
              class="sale-img"
              src="../img/sale/img-4-mob@1x.png"
              alt="watch in sale 1"
              width="52"
              height="54"
            />
          </picture>
        </div>
      </li>
    </ul>
    <div class="sale-main-img">
      <picture>
        <source
          media="(min-width: 1158px)"
          srcset="
            ../img/sale/img-gross-desc@1x.png 1x,
            ../img/sale/img-gross-desc@1x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/sale/img-gross-tab@1x.png 1x,
            ../img/sale/img-gross-tab@1x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ../img/sale/img-gross-mob@1x.png 1x,
            ../img/sale/img-gross-mob@1x.png 2x
          "
        />
        <img
          class="sale-img"
          src="../img/sale/img-gross-mob@1x.png"
          alt="Main Watch in sale"
          width="235"
          height="285"
        />
      </picture>
    </div>
    <div class="sale-info">
      <div class="sale-info-text">
        <p>MARQ® Commander (Gen 2) - Carbon Edition</p>
        <p>Product tag: 706587</p>
      </div>
      <p class="sale-info-price">
        <span>€1500</span>
        <span>€3000</span>
      </p>
    </div>
    <p class="sale-text">
      The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
      adventurers that takes materials and features to the next level. The body
      of the watch is made of very durable Fused Carbon Fiber material and has a
      precise AMOLED touch screen. The sensitive touch screen is complemented by
      buttons that can be used in any conditions.
    </p>
    <ul class="sale-features">
      <li class="sale-features-item">
        <p>Fused carbon fiber</p>
      </li>
      <li class="sale-features-item">
        <p>Grade-5 Titanuim</p>
      </li>
      <li class="sale-features-item">
        <p>Athlete</p>
      </li>
      <li class="sale-features-item">
        <p>Golfer</p>
      </li>
      <li class="sale-features-item">
        <p>Commander</p>
      </li>
      <li class="sale-features-item">
        <p>Adventurer</p>
      </li>
    </ul>
  </div>
</section>
