<section>
  <h2>Catalog</h2>
  <ul>
    <li>
      <img
        src=""
        alt="Garmin Fenix 7X Pro Sapphire Solar"
        width="208"
        height="226"
      />
      <h3>Garmin Fenix 7X Pro Sapphire Solar</h3>
      <p>&euro;500</p>
    </li>
    <li>
      <img src="" alt="Garmin Marq Athlete" width="208" height="226" />
      <h3>Garmin Marq Athlete</h3>
      <p>&euro;450</p>
    </li>
    <li>
      <img src="" alt="Garmin Descent MK1" width="208" height="226" />
      <h3>Garmin Descent MK1</h3>
      <p>&euro;680</p>
    </li>
    <li>
      <img src="" alt="Garmin D2 Delta PX" width="208" height="226" />
      <h3>Garmin D2 Delta PX</h3>
      <p>&euro;380</p>
    </li>
    <li>
      <img src="" alt="Garmin Fenix 6 Pro Solar" width="208" height="226" />
      <h3>Garmin Fenix 6 Pro Solar</h3>
      <p>&euro;400</p>
    </li>
    <li>
      <img
        src=""
        alt="Tube Watch S42 Date Steel With Black Case"
        width="208"
        height="226"
      />
      <h3>Tube Watch S42 Date Steel With Black Case</h3>
      <p>&euro;395</p>
    </li>
  </ul>
</section>
