<section class="catalog section" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <img
          class="catalog-ill"
          srcset="
            ../img/catalog/garmin-fenix-mob@1x.png 1x,
            ../img/catalog/garmin-fenix-mob@2x.png 2x
          "
          src="../img/catalog/garmin-descent-mob@1x.png"
          alt="Garmin Fenix 7X Pro Sapphire Solar"
          width="208"
          height="226"
        />
        <h3 class="catalog-caption">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-price">&euro;500</p>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-ill"
          srcset="
            ../img/catalog/garmin-marq-mob@1x.png 1x,
            ../img/catalog/garmin-marq-mob@2x.png 2x
          "
          src="../img/catalog/garmin-marq-mob@1x.png"
          alt="Garmin Marq Athlete"
          width="208"
          height="226"
        />
        <h3 class="catalog-caption">Garmin Marq Athlete</h3>
        <p class="catalog-price">&euro;450</p>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-ill"
          srcset="
            ../img/catalog/garmin-descent-mob@1x.png 1x,
            ../img/catalog/garmin-descent-mob@2x.png 2x
          "
          src="../img/catalog/garmin-descent-mob@1x.png"
          alt="Garmin Descent MK1"
          width="208"
          height="226"
        />
        <h3 class="catalog-caption">Garmin Descent MK1</h3>
        <p class="catalog-price">&euro;680</p>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-ill"
          srcset="
            ../img/catalog/garmin-d2-delta-mob@1x.png 1x,
            ../img/catalog/garmin-d2-delta-mob@2x.png 2x
          "
          src="../img/catalog/garmin-d2-delta-mob@1x.png"
          alt="Garmin D2 Delta PX"
          width="208"
          height="226"
        />
        <h3 class="catalog-caption">Garmin D2 Delta PX</h3>
        <p class="catalog-price">&euro;380</p>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-ill"
          srcset="
            ../img/catalog/garmin-fenix-6-tab@1x.png 1x,
            ../img/catalog/garmin-fenix-6-tab@2x.png 2x
          "
          src="../img/catalog/garmin-fenix-6-tab@1x.png"
          alt="Garmin Fenix 6 Pro Solar"
          width="208"
          height="226"
        />
        <h3 class="catalog-caption">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-price">&euro;400</p>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-ill"
          srcset="
            ../img/catalog/tube-watch-tab@1x.png 1x,
            ../img/catalog/tube-watch-tab@2x.png 2x
          "
          src="../img/catalog/tube-watch-tab@1x.png"
          alt="Tube Watch S42 Date Steel With Black Case"
          width="208"
          height="226"
        />
        <h3 class="catalog-caption">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-price">&euro;395</p>
      </li>
    </ul>
    <button class="catalog-btn" type="button">
      <span class="catalog-btn-text">Show more</span>
    </button>
  </div>
</section>
