.second-lvl-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .second-lvl-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .catalog-list {
    row-gap: 32px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-list {
    column-gap: 23px;
  }
}

.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 100%;
  background: var(--cards);
  padding: 41px 28px 23px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .catalog-item:nth-child(5) {
    display: none;
  }
  .catalog-item:last-child {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .catalog-item {
    padding: 34px 32px 23px;
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .catalog-item {
    width: calc((100% - 23px * 2) / 3);
  }
}

.description-thumb {
  margin-top: 20px;
  margin-right: auto;
}

.picture {
  /* padding-top: 10px; */
  margin: 0 auto;
}

.third-lvl-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--main);

  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .third-lvl-title {
    font-size: 20px;
    line-height: 1;
  }
}

.p-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  margin-top: 8px;
}

.catalog-btn {
  margin: 0 auto;
  border: 0;
  display: block;
  cursor: pointer;
  width: 160px;
  height: 48px;
  border-radius: 16px;

  background: var(--accent);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .catalog-btn {
    display: none;
  }
}

.catalog-btn:hover,
.catalog-btn:focus {
  background: var(--blue-hover);
}
