/* Mobile styles */
* {
    box-sizing: border-box;
}

.contactus-container { 
    margin: 30px auto 30px;
    padding: 0 20px;
}

.contactus-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;

}

.contactus-block {
    border-radius: 30px;
    padding: 48px 28px;
    background: #f3f3f3;
    max-width: 335px;
}

.contactus-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contactus-text {
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 28px;
    text-align:left;
}

.contactus-check {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 18px;
}

.contactus-field input {
    background: #f3f3f3;
    width: 100%;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    height: 42px;
    padding: 12px 14px 12px;
    box-sizing: border-box;
}

.contactus-texterea {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    width: 100%;
    height: 84px;
    background: #f3f3f3;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #0c0c0c;
    padding: 12px 14px 12px;
}

.contactus-field input:hover,
.contactus-field input:focus,
.contactus-field input:active,
.contactus-texterea:focus,
.contactus-texterea:hover {
    border: 1px solid #3350e9;
    outline: 0;
}

.button-contactus {
    border-radius: 16px;
    padding: 12px 50px;
    width: 134px;
    height: 42px;
    background-color: #3350e9;
    border: none;
    margin: 10px auto 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    transition: [poperty] 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button-contactus:hover, .button-contactus:focus {
    background-color: #1f3cd4;
}

.contactus-img {
    max-width: 335px;
}


/* Tab styles */
@media screen and (min-width: 768px) {
    .contactus-block {
        max-width: 704px;
        padding: 50px 122px;
        border-radius: 50px;
    }

    .contactus-text {
        font-size: 16px;
    }

    .contactus-img {
        max-width: 704px;
    }
    
    .button-contactus {
        margin: 14px 0 0;
    }

    
    .contactus-texterea {
        height: 90px;
    }
}

/* Dektop styles */
@media screen and (min-width: 1280px) {
    .contactus-content {
        flex-direction: row;
    }

    .contactus-block {
        max-width: 580px;
        height: 560px;
        padding: 48px 60px;
    }

    .contactus-container { 
        max-width: 1150px;
    }

    

    .contactus-img {
        max-width: none;
        width: 530px;
    }
}