.nav-list {
  display: none;
}
.social-list {
  display: none;
}

.logo {
  padding: 26px 0;
}

.burger-menu {
  border: none;
  padding: 0;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.burger-icon {
  stroke:black
}