
.container {
  min-width: 320px;
  max-width: 375;
  padding: 0 20px;
  
  /*outline: 2px solid red;
    outline-offset: -2px;*/
}
.page-header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  background-color: rgba(251, 251, 251, 1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 20px 0;
}

.burger-menu {
  border: none;
  padding: 0;
  background: transparent;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}

.burger-icon {
  stroke: #0C0C0C;
}

.nav-list {
  display: none;
}
.social-list {
  display: none;
}



@media screen and (min-width:768px){
  .logo {
    padding: 26px 0;
  }
}

@media screen and (min-width:1280px) {
  .burger-menu {
    display: none;
  }

  .page-header .container {
     display: flex;
     align-items: center;
     justify-content: center;
    }
  .logo {
    margin-right: 203px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 203px;
  }
  .social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid rgba(12, 12, 12, 0.10);
    background-color: transparent;
    transition: border-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

    }
    .social-icon {
      fill: #0C0C0C;
      transition: fill 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .current {
      position: relative;
      
    }
    .nav-link.current::after {
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: rgba(51, 80, 233, 1);
      left: 40%;
      bottom: -10px;
    }
} 
