
.hero-section {
padding: 60px 0;
min-height: 732px;
min-width: 320px;

}


@media screen and (min-width: 768px) {
.hero-section {
padding: 80px 0;

}
}


@media screen and (min-width: 1280px) {
    .hero-section {
    padding: 80px 0;
    }}



.hero-container {
    display: flex;
    flex-direction: column;
}

   
@media screen and (min-width: 768px) {
    .hero-container {
        display: flex;
        flex-direction: row;
        gap: 11px;
        width: 768;
    }
    }

    @media screen and (min-width: 1280px) {
        .hero-container {
            display: flex;
            flex-direction: row;
            gap: 407px;
            width: 1280px;
        }
        }
      

.hero-title {
    font-family: "Gilroy", sans-serif;
font-weight: 600;
font-size: 40px;
line-height: 0.95;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .hero-title {
font-size: 70px;
line-height: 0.85714;
width: 557px;

    }
}

@media screen and (min-width: 1280px){

   .hero-title {
font-size: 72px;
line-height: 0.875;
width: 597px;
   } 
}


.hero-title-span {
    color: #3350e9;
}
.hero-text {
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.7);
margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .hero-text {
line-height: 1.25;
font-size: 16px;
line-height: 1.25;
width: 480px;
    }
}



.hero-scroll {
    display: flex;
    flex-direction: row;
min-height: 44px;
align-items: baseline;
padding: 28px 0;
justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .hero-scroll {
        display: flex;
        flex-direction: column;
        padding: 0;
     
}}

.hero-people {
    display: flex;
    flex-direction: row;
    position: relative;
}


.hero-people-img-1 {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
    position: absolute;
    top: 0;
    left: 0; 
}
.hero-people-img-2 {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
position: absolute;
z-index: 1;
transform: translateX(73%) translateY(0);

}
.hero-people-img-3 {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
z-index: 2;
transform: translateX(146%) translateY(0);

}

.hero-link {
}


.scroll-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
   
    color: #0c0c0c;
transition: color ;

}

.scroll-link:hover,
.scroll-link:focus {
color: #3350e9;
}

.scroll-link:active {
    color: #3350e9; 
}
.hero-img {
border-radius: 30px;
margin: 0 auto;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: linear-gradient(rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2)),
url(./img/hero/hero-mob@1x.png);
}

@media screen and (max-width:767px ) and (min-resolution: 192dpi) {
    .hero-img{
        background-image:  linear-gradient(rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2)),
        url(./img/hero/hero-mob@2x.png);
    }}

    @media screen and (min-width:768px) {
        .hero-img {
         
            background-image:  linear-gradient(rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2)),
            url(./img/hero/hero-tab@1x.png);
        }}
    
    
    @media screen and (min-width:768px) and (min-resolution: 192dpi) {
        .hero-img {
            background-image: linear-gradient(rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2)),
            url(./images/hero/people-tabl@2x.jpg);
        }
    }
    
    @media screen and (min-width:1158px) {
        .hero-img {
            padding: 188px 0;
            background-image: linear-gradient(rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2)),
            url(./img/hero/hero-desc@1x.png)
        }
    }
    
    
    @media screen and (min-width:1158px) and (min-resolution: 192dpi){
        .hero-img {
            background-image:  linear-gradient(rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2)),
            url(./img/hero/hero-desc@2x.png)
        }
    }
    