.reviews-section * {
    box-sizing: border-box;
    
}

.reviews-section {
    padding: 0 20px;
    margin: 30px 0 30px;
}

.reviews-container {
    max-width: 335px;
    margin: 0 auto;
}

.reviews-header {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--main);  
}



.review-list {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin: 40px auto 0;
}



.review-item {
    background-color: var(--cards);
    padding: 32px 36px;
    border-radius: 30px;
    display: none;
}

.review-item:nth-child(1) {
    display: block;
}


.time-img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 24px;
}

.reviews-title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--main);
}

.reviews-text {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.4);
}

/* Tab styles */
@media screen and (min-width: 768px) {
    .reviews-section {
        padding: 0 32px;
    }

    .reviews-container {
        max-width: 704px;
    }

    .review-item:nth-child(2) {
        display: block;
    }
    .reviews-header {
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.02em;
        color: var(--main);    
        font-size: 48px;
    }
    .reviews-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.4);
    }
    .reviews-title {
        font-size: 18px;
        line-height: 1.1;
    }
}

/* Dektop styles */
@media screen and (min-width: 1280px) {
    .reviews-section {
        padding: 0 65px;
    }

    .reviews-container {
        max-width: 1150px;
    }

    .review-item:nth-child(3) {
        display: block;
    }
}