/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./common.css');
@import url('./reset.css');
@import url('./btn.css');

/* Sections import */
@import url('./header.css');
@import url('./about.css');
@import url('./contactus.css');
